/* This file is for your main application css. */

@import "bulma";

.toptitle {
  margin-top: -40px;
  margin-bottom: 40px;
  .media img {
      padding-top: 5px;
    }
}

.editable {
  border-bottom: 1px dashed #ddd;
}

.inline-select {
  border: none !important;
  background-color: $light !important;
  font-size: 16px !important;
  line-height: 16px !important;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
}

.sell {
  li:first-child .base_price {
    font-weight: bold;
  }

  li:last-child .quote_price {
    font-weight: bold;
  }
}

.buy {
  li:first-child .quote_price {
    font-weight: bold;
  }

  li:last-child .base_price {
    font-weight: bold;
  }
}

a.is-dark {
  color: $dark !important;
}

.small-line-height {
  line-height: 1.1;
}
